.main {
    background-image: url('../../../public/images/book-shelf.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    border-top: 2px solid rgb(13, 226, 77);  
    border-bottom: 2px solid wheat;
    color: aliceblue;
    padding: 50px;
    font-size: 24px;   
}
.main-form {
    height: 500px;
    padding: 0 80px 150px;
    text-align: center;
}
.avatar {
    border-radius: 50%;
}
input {
    margin-bottom: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 3px solid white;
    outline: none;
}
.name-error{
    
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    color: red;
    font-size: 36px;
    font-weight: 600;
    margin: 0 200px 20px;
}
.button-form-in {
    margin: 10px 30px;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: rgb(248, 94, 120);
    cursor: pointer;
    font-size: 18px;
}