.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin: 0 0 50px 50px;
  
}
.select{
    font-size: 24px;
}
select{
    font-family: Courgette;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid darkorchid;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}
.input_search {
    background-image: url("../../../public/images/search_find_lupa_21889.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
    outline: none;
    border: 1px solid darkorchid;
    border-radius: 10px;
    padding: 0 15px; 
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); 
}