* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Courgette; /* Имя шрифта */
    src: url("../public/Fonts/Courgette-Regular.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Amaranth; /* Имя шрифта */
    src: url("../public/Fonts/Amaranth-Italic.ttf"); /* Путь к файлу со шрифтом */
}